<!DOCTYPE HTML>
<HTML lang="ko" xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <meta charset="UTF-8">
    <title>사용자비밀번호변경</title>
</HEAD>
<BODY>
<H2>사용자비밀번호변경</H2>
<form th:action="@{/web/changepassword}" method="post">
    <div>
        <label for="current_password">기존암호를 입력해주세요.</label>
        <input type="password" id="current_password" name="current_password" required>
    </div>
    <div>
        <label for="new_password">새로운암호를 입력해주세요.</label>
        <input type="password" id="new_password" name="new_password"  required>
    </div>
    <button type="submit" name="id">비밀번호 변경</button>
</form>
<script th:inline="javascript">
    let message = [[${message}]]
    if(message!=null) {
        alert(message);
    }
    if([[${chekModify}]]){
        location.replace([[${scheduleUrl}]]);
    }
</script>
</BODY>
</HTML>