<!DOCTYPE HTML>
<HTML lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="">
<HEAD>
    <meta charset="UTF-8">
    <title>일정목록</title>
</HEAD>
<BODY>
<H2>일정목록</H2>
<table>
<tbody style="text-align:center; border: 1px solid black">
    <tr th:if="${response=='NoData'}" style="text-align:center; border: 1px solid black">
        <td><span> 게시글이 없습니다. 새 게시글을 작성하려면 아래 버튼을 눌러주세요.</span></td>
    </tr>
    <tr th:if="${response!='NoData'}" style="text-align:center; border: 1px solid black">
        <td> <span> 작성자 </span></td>
        <td> <span> 제목 </span></td>
        <td> <span> 일정내용 </span></td>
        <td> <span> 작성일과 작성시간 </span></td>
        <td> <span> 수정일과 수정시간 </span></td>
        <td> <span>  </span></td>
        <td> <span>  </span></td>
    </tr>
    <tr th:each="result : ${results}" style="text-align:center; border: 1px solid black">
        <td> <span th:text="${result.username}"> 작성자 </span></td>
        <td> <span style="font-weight:bold" th:text="${result.title}"> 제목 </span></td>
        <td> <span th:text="${result.contents}"> 일정내용 </span></td>
        <td> <span th:text="${result.createAt}"> 작성일과 작성시간 </span></td>
        <td> <span th:text="${result.modifiedAt}"> 수정일과 수정시간 </span></td>
        <td><form th:action="@{/web/modify}" method="post">
            <button type="submit" name="id" th:value="${result.id}">일정수정</button>
        </form>
            <form th:action="@{/web/delete}" method="post">
            <button type="submit" name="id" th:value="${result.id}">일정삭제</button>
        </form></td>
    </tr>
    <td><span><button th:onclick="|location.href='@{/web/newSchedule}'|">새일정추가</button></span></td>
    <td><span><button th:onclick="|location.href='@{/web/logout}'|">로그아웃</button></span></td>
</tbody>
</table>
<script th:inline="javascript">
    let message = [[${message}]]
    if(message!=null) {
        alert(message);
    }
    if([[${checkScheduleList}]]){
        location.replace([[${ScheduleListUrl}]]);
    }
</script>
</BODY>
</HTML>