<!DOCTYPE HTML>
<HTML lang="ko" xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <meta charset="UTF-8">
    <title>회원가입</title>
</HEAD>
<BODY>
<H2>회원가입</H2>
<form th:action="@{/web/signup}" method="post">
    <div>
        <label for="username">이름:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="email">이메일:</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="password">패스워드:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">회원가입</button>
</form>
<script th:inline="javascript">
    let message = [[${message}]]
    if(message!=null) {
        alert(message);
    }
     if([[${chekSignUp}]]){
         location.replace([[${signUpUrl}]]);
     }
</script>
</BODY>
</HTML>